<div class='contact-wrapper'>
  <div class='contact'>
      <a
href='https://s3-us-west-1.amazonaws.com/mahowald-portfolio-development/mahowald-resume.pdf' 
      class='no-link' target='_blank'>
      <div class='contact-image'><%= image_tag('download.svg') %></div>
      <div class="contact-info">Resume</div>
    </a>
  </div>
  <div class='contact'>
    <div class='contact-image'><%= image_tag('location.svg') %></div>
    <div class="contact-info"><span class='sf'>San Francisco, CA</span></div>
  </div>
  <div class='contact'>
    <a href='mailto:john.mahowald@gmail.com' class='no-link'>
      <div class='contact-image'><%= image_tag('email.svg') %></div>
      <div class="contact-info">Email</div>
    </a>
  </div>
  <div class='contact'>
    <a href='http://www.github.com/johnmahowald' target='_blank' class='no-link'>
      <div class='contact-image'><%= image_tag('github.svg') %></div>
      <div class="contact-info">GitHub</div>
    </a>
  </div>
  <div class='contact'>
    <a href='https://www.linkedin.com/pub/john-mahowald/13/2b8/4aa' target='_blank' class='no-link'>
      <div class='contact-image'><%= image_tag('linkedin.svg') %></div>
      <div class="contact-info">Linked In</div>
    </a>
  </div>
</div>