<div id='<%= project.title.split(" ").join("_").downcase %>'>
  <div class='project-title'>
    <h1><%= project.title %></h1>
  </div>

  <div class='container-fluid'>
    <div class="row">
      <!-- about section -->
      <div class='col-md-6 col-xs-12'>
        <div class='section-card'>
          <div class='section-card-header'>
            <h2>About</h2>
          </div>
        
          <div class='section-card-body padded-body'>
            <div class='description'>
              <%= project.description %>
            </div>
          
            <div class='features'>
              <h3>Features:</h3>
              <ul>
                <% project.features.each do |f| %>
                  <li><%= f.description %></li>
                <% end %>
              </ul>
            </div>
          </div>
        
          <div class='section-card-footer'>
            <% project.skills.each do |s| %>
              <span class='skill'><%= s.title %></span>
            <% end %>
          </div>
        </div><!-- /section-card -->
      </div><!-- /about section -->
      
      <!-- preview section -->
      <div class='col-md-6 col-xs-12'>
        <div class='section-card'>
          <div class='section-card-header'>
            <h2>Preview</h2>
          </div>
        
          <div class='section-card-body'>
            <a href='/assets/landing.png' data-lightbox='landing'>
              <div 
               class='project-preview' 
               style='background-image: url(<%= project.preview_img %>);'></div>
            </a>
          </div>
        
          <div class='section-card-footer'>
            <a href='<%= project.github_url %>' target='_blank'>
              <button class='my-btn'>GitHub</button>
            </a>
            <% if project.demo_url %>
              <a href='<%= project.demo_url %>' target='_blank'>
                <button class='my-btn'>Demo</button>
              </a>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>