<!-- welcome section -->
<%= render 'welcome' %>

<!-- top navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <%= render 'top_nav' %>
</div>
    
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left" id='main-row'>
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" 
         id="sidebar" 
         role="navigation"><%= render 'sidebar' %></div>
    
    <!-- main content -->
    <div class="col-xs-12 col-sm-9" id='main-content'>
      <div class='main-section' id='projects'>
        <div class='section-title'>
          <h1>Projects</h1>
        </div>
        <% Project.all.each do |p| %>
          <%= render 'project', project: p %>
        <% end %>
      </div>
      
      <div class='section' id='skills'>
        <div class='section-title'>
          <h1>Skills</h1>
        </div>
        
        <div class='section-body'>
          <%= render 'skills' %>
        </div>
      </div>
      
      <div class='about-section' id='about'>
        <div class='section-title'>
          <h1>About</h1>
        </div>
        
        <div class='section-body'>
          <%= render 'about' %>
        </div>
      </div>
      
      <div class='contact-section' id='contact'>
        <div class='section-title'>
          <h1>Contact</h1>
        </div>
        
        <div class='section-body'>
          <%= render 'contact' %>
        </div>
      </div>
      
    </div><!-- /.col-xs-12 main -->
  </div><!-- /.row -->
</div><!--/.container-->