<!-- welcome section -->
<%= render 'welcome' %>

<!-- top navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <%= render 'top_nav' %>
</div>
    
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left" id='main-row'>
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" 
         id="sidebar" 
         role="navigation"><%= render 'sidebar' %></div>
    
    <!-- main content -->
    <div class="col-xs-12 col-sm-9" id='main-content'>
      <div class='section' id='projects'>
        <div class='section-title' data-my-section='projects'>
          <h1>Projects</h1>
        </div>
        <% Project.all.each do |p| %>
          <%= render 'project', project: p %>
        <% end %>
      </div>
      
      <div class='section' id='skills'>
        <div class='section-title' data-my-section='skills'>
          <h1>Skills</h1>
          <h2 class='skill-subtext'>Highly Proficient</h2>
        </div>
        
        <div class='section-body'>
          <%= render 'skills' %>
        </div>
      </div>
      
      <div class='about-section' id='about'>
        <div class='section-title' data-my-section='about'>
          <h1>About</h1>
        </div>
        
        <div class='section-body'>
          <%= render 'about' %>
        </div>
      </div>
      
      <div class='contact-section' id='contact'>
        <div class='section-title' data-my-section='contact'>
          <h1>Contact</h1>
        </div>
        
        <div class='section-body'>
          <%= render 'contact' %>
        </div>
      </div>
      
    </div><!-- /.col-xs-12 main -->
  </div><!-- /.row -->
</div><!--/.container-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41735527-3', 'auto');
  ga('send', 'pageview');
  
</script>